body {
  font-family: avenir;
  margin: 0;
}

.Wrapper {
  display: block;
}

.catData {
  margin: 130px 50px 50px;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  transition: margin 0.2s ease 0s;
  object-fit: cover;
}

.catInfo {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
}